<h2>Add Todo</h2>
<div class="card card-body mb-3">
  <form (submit)="onSubmit(todoForm)" #todoForm="ngForm">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Add Todo..." name="todoText" [(ngModel)]="todoText"
        #todoTextInput="ngModel" required>
      <span *ngIf="todoTextInput.invalid && todoTextInput.touched">Please enter something todo.</span>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Set urgency between 1 - 5" name="todoUrgency"
        [(ngModel)]="todoUrgency" #todoUrgencyInput="ngModel" required>
      <span *ngIf="todoUrgencyInput.invalid && todoUrgencyInput.touched">Please set urgency level between 1 - 5.</span>
    </div>
    <div *ngIf="!isNew" class="form-check ml-4">
      <input type="checkbox" class="form-check-input" name="todoIsCompleted" [(ngModel)]="todoIsCompleted">
      <label>Check for completion</label>
    </div>
    <input type="submit" class="btn btn-primary mr-2" value="Submit" [disabled]="!todoForm.valid">
    <button type="button" class="btn btn-warning" [hidden]="!this.todoText" (click)="clearState()">Clear</button>
  </form>
</div>
